// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: rgb(255, 255, 255) !important;
}

.container.header {
  background: #ffffff;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3b5998 !important;
  border-color: #3b5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #db4a39 !important;
  border-color: #db4a39;
}

.wrapper.secondary {
  background: #f3f3f3;
}

h2 {
  color: #000000;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 16px;

  @media only screen and (max-width: 768px) {
    font-size: 30px;
  }
}

h3 {
  color: #000000;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 24px;

  @media only screen and (max-width: 768px) {
    font-size: 24px;
    font-weight: 600;
  }
}

h4 {
  color: #302d2f;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;

  @media only screen and (max-width: 768px) {
    font-size: 18px;
  }
}

p {
  color: #282735;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 24px;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

a.ihj-button {
  background-color: #381e47;
  padding: 10px 24px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 500;
  border-radius: 40px;
  text-align: center;

  &:hover,
  &:focus,
  &:active {
    color: #ffffff;
  }

  &.full-width {
    width: 100%;
  }

  @media only screen and (max-width: 768px) {
    padding: 14px 0;
  }
}

a.ihj-button--secondary {
  background-color: #ffffff;
  border: thin solid #381e47;
  padding: 14px 0;
  font-size: 18px;
  line-height: 24px;
  color: #381e47;
  font-weight: 500;
  border-radius: 40px;
  text-align: center;

  &:hover,
  &:focus,
  &:active {
    color: lighten(#381e47, 0.7);
  }

  &.full-width {
    width: 100%;
  }
}

.desk-hidden {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .desk-hidden {
    display: block !important;
  }
}

.mob-hidden {
  display: block !important;
}

@media only screen and (max-width: 768px) {
  .mob-hidden {
    display: none !important;
  }
}

.ihj-hiw--wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .ihj-hiw--container {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 25%;

    @media only screen and (max-width: 768px) {
      width: 100%;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
    }

    img {
      margin: 0 0 8px;

      @media only screen and (max-width: 768px) {
        margin: 0 20px 0 0;
      }
    }
  }
}

.orders-image {
  width: 100%;
  border-radius: 8px;

  @media only screen and (max-width: 600px) {
    width: 70% !important;
  }
}

.orders__wrapper {
  .wrapper-inner {
    padding: 0 24px !important;

    @media only screen and (max-width: 600px) {
      padding: 0 12px !important;
    }
  }
}
.reservation__wrapper {
  .wrapper-inner {
    padding: 32px 24px !important;

    @media only screen and (max-width: 600px) {
      padding: 24px 12px !important;
    }
  }
}

.welcome_mail__wrapper {
  .wrapper-inner {
    padding: 36px 24px 54px !important;

    @media only screen and (max-width: 600px) {
      padding: 16px 16px 48px !important;
    }
  }
}
.welcome_mail-get_started__wrapper {
  .wrapper-inner {
    padding: 36px 24px 0 !important;

    @media only screen and (max-width: 600px) {
      padding: 16px 16px 0 !important;
    }
  }
}
.welcome_mail-final__wrapper {
  .wrapper-inner {
    padding: 8px 24px 0 !important;

    @media only screen and (max-width: 600px) {
      padding: 0 16px 0 !important;
    }
  }
}

.wrapper_no_padding {
  .wrapper-inner {
    padding: 0 !important;

    @media only screen and (max-width: 600px) {
      padding: 0 !important;
    }
  }
}

.forgot-password__wrapper {
  .wrapper-inner {
    padding: 36px 24px !important;

    @media only screen and (max-width: 600px) {
      padding: 24px 16px 32px !important;
    }
  }
}

.forgot-password__footer-text {
  text-align: left !important;

  @media only screen and (max-width: 600px) {
    text-align: center !important;
  }
}
