<div>
  <h5 style="margin-bottom: 16px;color: #302D2F;">Reservation</h5>
  <p style="color: #302D2F;font-style: normal;margin-bottom: 20px;letter-spacing: 0.48px;text-decoration: none !important;">
    <strong>Purple Lotus</strong> <br />
    752 Commercial St <br />
    San Jose, California 95112 <br />
    (408) 456-0420
  </p>
  <p style="color: #302D2F;line-height: 20px;letter-spacing: 0.48px;text-decoration: none !important;">
    <strong>Completed</strong> <br />
    Picked up at 2:20 pm, <br />
    January 30, 2022
  </p>
</div>