<container>
  <row>
    <columns small="12" large="12">
      <wrapper class="ihj-email-footer">
        <spacer size="16"></spacer>
        <center>
          <img src="https://assets.iheartjane.com/marketing/logos/jane-logo-3x.png" alt="logo" class="show-for-large" style="width: 150px !important;" />
          <!--[if !mso 9]><!-->
          <img src="https://assets.iheartjane.com/marketing/logos/heart-3x.png" alt="logo" class="hide-for-large" style="width: 32px !important;" />
          <!--<![endif]-->
        </center>
        <spacer size="26"></spacer>
        <div class="ihj-email-footer-content">
          <p>Need some help? We're here for you. Drop a message to <a href="mailto:support@iheartjane.com">support@iheartjane.com</a> any time.</p>
          <spacer size="8"></spacer>
          <p>© 2022 Jane Technologies, Inc. <a href="#!" style="margin-left: 4px;">Privacy</a>  <a href="#!" style="margin-left: 4px;">Terms of Service</a></p>
        </div>
        <spacer size="60"></spacer>
      </wrapper>
    </columns>
  </row>
</container>