<container>
  <row>
    <columns small="12" large="12" style="background: #ffebcc;background-image: linear-gradient(#ffebcc, #ffebcc) !important;">
      <img src="https://assets.iheartjane.com/marketing/receipt/LPP-desktop-3x.png" class="show-for-large" alt="" />
      <!--[if !mso 9]><!-->
      <img src="https://assets.iheartjane.com/marketing/receipt/LPP-mobile-3x.png" class="hide-for-large" alt="" />
      <!--<![endif]-->
      <spacer size="40"></spacer>
      <center>
        <wrapper class="ihj-content-wrapper">
          <img src="https://assets.iheartjane.com/marketing/text/last-prisoner-3x.png" alt="" />
          <spacer size="16"></spacer>
          <p>Thank you for helping Jane support the effort to bring justice to those incarcerated for cannabis offenses. For every new customer, Jane contributes $5 to the cause. The Last Prisoner Project is an organization committed to justice for victims of cannabis criminalization.</p>
          <spacer size="16"></spacer>
          <wrapper class="ihj-funding-badge">
            <p class="text-center"><span>$75,000</span> <br /> raised </p>
          </wrapper>
          <center>
            <spacer size="40"></spacer>
            <a href="#!" class="ihj-button ihj-button--secondary">Share the news</a>
          </center>
        </wrapper>
      </center>
      <spacer size="120"></spacer>
    </columns>
  </row>
</container>