<container>
  <row>
    <columns small="12" large="12" style="background: #ffebcc;">
      <img src="assets/img/contribution.png" class="show-for-large" alt="" />
      <img src="assets/img/contribution-mobile.png" class="hide-for-large" alt="" />
      <spacer size="40"></spacer>
      <center>
        <wrapper class="ihj-content-wrapper">
          <h6 style="margin-bottom: 16px;color: #000000;">Last prisoner project</h6>
          <h4 style="margin-bottom: 16px;color: #000000;">Your purchase spreads the love. </h4>
          <p>Thank you for helping Jane support the effort to bring justice to those incarcerated for cannabis offenses. For every new customer, Jane contributes $5 to the cause. The Last Prisoner Project is an organization committed to justice for victims of cannabis criminalization.</p>
          <spacer size="16"></spacer>
          <wrapper class="ihj-funding-badge">
            <p class="text-center"><span>$75,000</span> <br /> raised </p>
          </wrapper>
          <center>
            <spacer size="40"></spacer>
            <a href="#!" class="ihj-button ihj-button--secondary">Share the news</a>
          </center>
        </wrapper>
      </center>
      <spacer size="120"></spacer>
    </columns>
  </row>
</container>