<container>
  <row>
    <columns small="12" large="12" style="background-image: linear-gradient(#ffffff, #ffffff) !important;">
      <wrapper class="ihj-email-header">
        <spacer size="20"></spacer>
        <center>
          <a href="https://www.iheartjane.com/" style="display: inline-block;">
            <img src="https://assets.iheartjane.com/marketing/logos/jane-logo-3x.png" alt="logo" class="show-for-large" style="width: 150px !important;" />
          </a>
          <!--[if !mso 9]><!-->
          <a href="https://www.iheartjane.com/" style="display: inline-block;">
            <img src="https://assets.iheartjane.com/marketing/logos/jane-logo-3x.png" alt="logo" class="hide-for-large" style="width: 96px !important;" />
          </a>
          <!--<![endif]-->
        </center>
        <spacer size="20"></spacer>
      </wrapper>
    </columns>
  </row>
</container>
