<container>
  <row>
    <columns small="12" large="12" style="background: #FF9900;">
      <img src="assets/img/mobile-cta.png" alt="ios" />
      <wrapper class="ihj-mobile-cta">
        <h2 style="margin-bottom: 36px;color: #000000;">Keep us in your pocket.</h2>
        <p style="margin-bottom: 50px;color: #000000;">
          Get the Jane app to find cannabis your way, in just a tap.
        </p>
        <a href="#!"><img src="assets/img/ios-download.png" style="width: 193px;" alt="ios app" /></a>
        <spacer size="78"></spacer>
      </wrapper>
    </columns>
  </row>
</container>
