<container>
  <row>
    <columns small="12" large="12" style="background: #FF9900;background-image: linear-gradient(#FF9900, #FF9900) !important;">
      <a href="#" style="pointer-events: none;">
        <img src="https://assets.iheartjane.com/marketing/signup/mobile-app-cta-3x.png" alt="ios-cta" />
      </a>
      <wrapper class="ihj-mobile-cta">
        <a href="#" style="pointer-events: none;">
          <img src="https://assets.iheartjane.com/marketing/text/app-cta-text-3x.png" style="width: 240px;" alt="" />
        </a>
        <spacer size="36"></spacer>
        <p style="margin-bottom: 32px;color: #000000;">
          Get the Jane app to find cannabis your way, in just a tap.
        </p>
        <a href="https://www.google.com/">
          <img src="https://assets.iheartjane.com/marketing/signup/app-a-3x.png" style="width: 185px;" alt="ios app" />
        </a>
        <spacer size="58"></spacer>
      </wrapper>
    </columns>
  </row>
</container>
