<center>
  <wrapper class="ihj-content-wrapper ihj-content-wrapper--receipt">
    <spacer size="40"></spacer>
    <center>
      <img src="https://assets.iheartjane.com/marketing/receipt/order-thumbnail-2x.png" style="width: 96px;" alt="" />
    </center>
    <spacer size="40"></spacer>
    <img src="https://assets.iheartjane.com/marketing/text/thanks-for-choosing-jane-3x.png" alt="" />
    <spacer size="16"></spacer>
    <p style="color: #0E0E0E">
      You can help the cannabis community by reviewing your visit.
    </p>
    <spacer size="48"></spacer>
    {{>rating-large}}
  </wrapper>
</center>