<wrapper class="ihj-receipt-pricing">
  <row style="margin-bottom: 8px;letter-spacing: 0.48px;">
    <columns large="6" small="6">
      Items (3)
    </columns>
    <columns large="6" small="6">
      <p class="text-right" style="font-weight: 600;">$173.00</p>
    </columns>
  </row>
  <row style="margin-bottom: 8px;letter-spacing: 0.48px;">
    <columns large="6" small="6">
      Sales Tax
    </columns>
    <columns large="6" small="6">
      <p class="text-right" style="font-weight: 600;">$7.69</p>
    </columns>
  </row>
  <row style="margin-bottom: 8px;letter-spacing: 0.48px;">
    <columns large="6" small="6">
      Estimated Total
    </columns>
    <columns large="6" small="6">
      <p class="text-right" style="font-weight: 600;">$180.69</p>
    </columns>
  </row>
</wrapper>