<row class="ihj-product-row">
  <columns large="4" small="4">
    <a href="https://www.google.com/">
      <img src="https://assets.iheartjane.com/marketing/receipt/product-3x.png" alt="" />
    </a>
  </columns>
  <columns large="5" small="5">
    <div>
      <h6 style="font-size: 16px;font-weight: 600;line-height: 24px;text-transform: none;margin-bottom: 0;padding-left: 16px;letter-spacing: normal;">Mini Joints</h6>
      <p style="color: #6d6a6c;padding-left: 16px;">Besito Hybrid $40.00 x 2</p>
    </div>
  </columns>
  <columns large="3" small="3">
    <div>
      <p style="font-size: 16px;font-weight: 600;padding-left: 16px;">$80.00</p>
    </div>
  </columns>
</row>