<container>
  <row>
    <columns small="12" large="12" style="background: #ffebcc;">
      <img src="assets/img/tote-bag.png" class="show-for-large" alt="" />
      <img src="assets/img/tote-bag-mobile.png" class="hide-for-large" alt="" />
      <spacer size="40"></spacer>
      <center>
        <wrapper class="ihj-content-wrapper">
          <h4 style="margin-bottom: 16px;color: #000000;">Refer a friend, score a Jane tote! </h4>
          <p>Get a free Jane tote bag after you refer a new customer to the Jane app. For every new customer, Jane supports the effort to free cannabis prisoners by donating $5 to Last Prisoner Project.</p>
          <spacer size="24"></spacer>
          <wrapper class="ihj-share-url">
            <h6 style="margin-bottom: 16px;color: #FF9900;" class="text-center">share the love</h6>
            <p class="text-center"><a href="javascript:void(0);">http://www.myjaneurl.com/loremipsum</a></p>
          </wrapper>
        </wrapper>
      </center>
      <spacer size="50"></spacer>
    </columns>
  </row>
</container>