<container>
  <row>
    <columns small="12" large="12" style="background: #ffebcc;background-image: linear-gradient(#ffebcc, #ffebcc) !important;">
      <a href="#" style="pointer-events: none;">
        <img src="https://assets.iheartjane.com/marketing/receipt/Tote-desktop-3x.png" class="show-for-large" alt="" />
      </a>
      <!--[if !mso 9]><!-->
      <a href="#" style="pointer-events: none;">
        <img src="https://assets.iheartjane.com/marketing/receipt/Tote-mobile-3x.png" class="hide-for-large" alt="" />
      </a>
      <!--<![endif]-->
      <spacer size="40"></spacer>
      <center>
        <wrapper class="ihj-content-wrapper">
          <img src="https://assets.iheartjane.com/marketing/text/refer-a-friend-score-a-Jane-tote-3x.png" style="width: 300px;" alt="" />
          <spacer size="16"></spacer>
          <p>Get a free Jane tote bag after you refer a new customer to the Jane app.</p>
          <spacer size="24"></spacer>
          <wrapper class="ihj-share-url">
            <h6 style="margin-bottom: 16px;color: #FF9900;" class="text-center">share the love</h6>
            <p class="text-center"><a href="https://www.google.com/">http://www.myjaneurl.com/loremipsum</a></p>
          </wrapper>
        </wrapper>
      </center>
      <spacer size="50"></spacer>
    </columns>
  </row>
</container>